fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-dotenv
requests
httpx
feedparser
trafilatura
lxml
numpy
scikit-learn
nltk
sentence-transformers
spacy

loguru
python-dateutil
tqdm